
<%- include("partials/header") %>
<h1> Watin you dy do nah Comrade???</h1>

<p> If dem say make you get sense, you go think say dem no like you. MTCHEWWWW!!!! </p>

<%- include("partials/footer") %>